.main-page{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
}

.links-section {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 20px
}

.link {
    width: 100%;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: scale 0.5s ease-in-out;
    box-shadow: 0 14px 28px rgba(147, 138, 138, 0.25), 
            0 10px 10px rgba(0,0,0,0.22);
}

.generate-link {
    background-color: var(--primary-pink);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.generate-link:hover {
    cursor: pointer;
    .link-text {
        color: white
    }
    transform: scale(1.02);
}

.link-icon {
    font-size: 24px;
    margin-right: 10px;
    color: silver;
}

.link-text {
    font-size: 18px;
    color: white;
    font-family: Arial, sans-serif;
    transition: color 0.3s ease;

}

.name-page {
    display: flex;
    gap: 16px;
}

.likes {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(147, 138, 138, 0.25), 
            0 10px 10px rgba(0,0,0,0.22);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}


/* Pantallas grandes (Desktop) */
@media (min-width: 1200px) {
    .links-section {
        width: 900px;
    }
}

/* Pantallas medianas (Laptops, Tablets grandes) */
@media (min-width: 992px) and (max-width: 1199px) {
    .links-section {
        width: 900px;
    }
}

/* Pantallas pequeñas (Tablets, Phablets) */
@media (min-width: 768px) and (max-width: 991px) {
    .links-section {
        width: 100%;
        padding: 20px;
    }
    .page-header-section {
        margin: 20px;
    }
}

/* Pantallas muy pequeñas (Teléfonos móviles en orientación vertical) */
@media (min-width: 576px) and (max-width: 767px) {
    .links-section {
        width: 100%;
        padding: 20px;
    }
    .page-header-section {
        margin: 20px;
    }
}

/* Pantallas extra pequeñas (Móviles pequeños) */
@media (max-width: 575px) {
    .links-section {
        width: 100%;
        padding: 20px;
    }
    .page-header-section {
        margin: 20px;
    }
}

/* Pantallas extremadamente pequeñas (Dispositivos antiguos o smartwatches) */
@media (max-width: 360px) {
    .links-section {
        width: 100%;
        padding: 20px;
    }
    .page-header-section {
        margin: 20px;
    }
}
