.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
            0 10px 10px rgba(0,0,0,0.22);
}

.text {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
}

.main-title{
    font-weight: bold;
    font-size: 4vw;
}

.main-title{
    font-weight: bold;
    font-size: 2vw;
}



.links-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}

.link {
    width: 600px;
    height: 120px;
    border-radius: 20px;
}

.generate-link {
    border: dashed silver 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}
.generate-link:hover {
    cursor: pointer;
    background-color: silver;
    border: solid silver 2px;
    .link-text {
        color: white
    }
}

.link-icon {
    font-size: 24px;
    margin-right: 10px;
    color: silver;
}

.link-text {
    font-size: 18px;
    color: silver;
    font-family: Arial, sans-serif;
    transition: color 0.3s ease;

}

/* Pantallas grandes (Desktop) */
@media (min-width: 1200px) {
    .link {
        width: 600px;
        height: 120px;
    }
}

/* Pantallas medianas (Laptops, Tablets grandes) */
@media (min-width: 992px) and (max-width: 1199px) {
    .link {
        width: 500px;
        height: 120px;
    }
}

/* Pantallas pequeñas (Tablets, Phablets) */
@media (min-width: 768px) and (max-width: 991px) {
    .link {
        width: 100%;
        height: 120px;
        margin: 20px;
    }
}

/* Pantallas muy pequeñas (Teléfonos móviles en orientación vertical) */
@media (min-width: 576px) and (max-width: 767px) {
    .link {
        width: 100%;
        height: 120px;
        margin: 20px;
    }
}

/* Pantallas extra pequeñas (Móviles pequeños) */
@media (max-width: 575px) {
    .link {
        width: 100%;
        height: 120px;
        margin: 20px;
    }
}

/* Pantallas extremadamente pequeñas (Dispositivos antiguos o smartwatches) */
@media (max-width: 360px) {
    .link {
        width: 100%;
        height: 120px;
        margin: 20px;
    }
}
