<div class="user-container">
    <form action="">
        <h1 class="title">Page Information</h1>
        <div class="form-input">
            <label for="">Title</label>
            <input type="text" placeholder="Enter a title">
        </div>
        <div class="form-input">
            <label for="">Description</label>
            <textarea type="text" placeholder="Enter a description for your page"></textarea>
        </div>
        <div class="form-input">
            <label for="">Main Color</label>
            <input class="p-1" type="color" placeholder="Select your page color">
        </div>
        <div class="form-input">
            <label for="">Secondary Color</label>
            <input class="p-1" type="color" placeholder="Select your page color">
        </div>

        <!-- TODO: Hacer un componente de elegir fondos para reutilizarlo en lel page set up y en setting --> 

        <button class="w-full my-3">Save</button>

    </form>
</div>