
<div class="absolute inset-0 -z-10 h-full w-full bg-white bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]"><div class="absolute left-0 right-0 top-0 -z-10 m-auto h-[310px] w-[310px] rounded-full bg-fuchsia-400 opacity-20 blur-[100px]"></div></div>

<div class="page-container">
    <section class="text-section">
        <h1 class="main-title">START CREATING YOUR PAGE</h1>
        <p class="sub-title">Add your firts links, write your name´s page and choose your background</p>
    </section>
    <button (click)="createPage()">Create Page</button>
    <img class="svg-illustration" src="assets/svg/undraw_editable_re_4l94.svg" alt="Image">
</div>

