.container {
    position: absolute;
    margin: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
            0 10px 10px rgba(0,0,0,0.22);
    // position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    transition: transform 0.5s ease-in-out;
}


.page-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}


form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    width: 100%;
    position: absolute;
    text-align: center;
    gap: 16px;
}

.input-section {
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column ;
    width: 100%
}

.input-section input {
    flex: 1;
}


.main-title{
    font-weight: bold;
    font-size: 5vw;
    top: 100px; 
    position: absolute;
    z-index: 2;
    color: var(--primary-pink);
}


.button-section {
    margin: 20px;
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 300px; 
}

.right-translate {
    transform: translateX(100vw);
    
}

.left-translate {
    transform: translateX(-100vw);
}

.color-picker {
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column ;
    width: 100%
  }




input[type="color"] {
  opacity: 1;
  cursor: pointer;
  padding: 2px;
}

.emoji-row {
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
        margin-left: 16px;
        font-size: 30px;
    }
}


.backgroundPicker {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
}

.bg-section {
    width: 100%;
    height: 200px;
    border: solid 1px silver;
    border-radius: 10px;
    cursor: pointer;

    * {
        border-radius: 10px;
    }
}

.bg-section {
    width: 100%;
    height: 200px;
    border: solid 1px silver;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 80ms ease-in;

    * {
        border-radius: 10px;
    }
}

.bg-section-active {
    position: relative;
    outline: solid 4px var(--primary-pink);
    border-radius: 8px; /* Redondea las esquinas del borde */
    box-shadow: 0 0 8px rgba(255, 105, 180, 0.5); /* Agrega una sombra difusa en el color del borde */
    transition: all 0.3s ease; /* Suaviza las transiciones */
}


@supports (--css: variables) {
    .main-title {
        background: linear-gradient(to right, #fbb8d7, #FF69B4);
        color: transparent; 
        background-clip: text; 
    }
        
    .main-title::selection {
        color: white;
        background: #FF69B4;
    }
    .sub-title::selection {
        color: white;
        background: #FF69B4;
    }
}