<div style="opacity: 0; position: absolute; z-index: -1;" [class]="'absolute inset-0 -z-10 h-screen w-screen bg-white bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px]'"></div>
<div style="opacity: 0; position: absolute; z-index: -1;" [class]="'absolute inset-0 -z-10 h-screen w-screen bg-white [background:radial-gradient(125%_125%_at_50%_10%,#fff_40%,#63e_100%)]'"></div>
<div style="opacity: 0; position: absolute; z-index: -1;" [class]="'absolute inset-0 top-0 z-[-2] h-screen w-screen bg-[#000000] bg-[radial-gradient(#ffffff33_1px,#00091d_1px)] bg-[size:20px_20px]'"></div>
<div style="opacity: 0; position: absolute; z-index: -1;" [class]="'absolute inset-0 top-0 z-[-2] h-screen w-screen rotate-180 transform bg-white bg-[radial-gradient(60%_120%_at_50%_50%,hsla(0,0%,100%,0)_0,rgba(252,205,238,.5)_100%)]'"></div>
<div style="opacity: 0; position: absolute; z-index: -1;" class="absolute inset-0 -z-10 h-full w-full items-center px-5 py-24 [background:radial-gradient(125%_125%_at_50%_10%,#000_40%,#63e_100%)]"></div>
<div style="opacity: 0; position: absolute; z-index: -1;" class="absolute top-0 z-[-2] h-screen w-screen rotate-180 transform bg-white bg-[radial-gradient(60%_120%_at_50%_50%,hsla(0,0%,100%,0)_0,rgba(135,206,235,.5)_100%)]"></div>
<div style="opacity: 0; position: absolute; z-index: -1;" class="absolute h-full w-full bg-white [background:radial-gradient(125%_125%_at_50%_10%,#fff_40%,#FF69B4_100%)]"></div>

<app-header></app-header>

@if (user) {
    <div class="w-full main-page">
        <div class="fixed left-0 -z-10 top-0 h-full w-full">
            <div class="relative h-full w-full">
                <div [class]="page.css_real_bg"></div>
            </div>
        </div>
        
        <div class="info-user-header">
            <h1 [style.color]="page.mainColor" class="font-semibold text-3xl"><span>&#64;</span>{{user.username}}</h1>
            <div class="flex gap-2">
                <img (click)="copyProfile()" src="assets/svg/share.svg" alt="Share Icon">
                <p>Share</p>
            </div>
        </div>

        <div class="links-section my-10">
            <div class="name-page">
                <h1 [style.color]="page.mainColor" class="page-title font-semibold text-3xl">{{page.title}}</h1>
                <div [ngStyle]="{'pointer-events': !isDisabled ? 'all' : 'none'}" (click)="like()" class="likes">
                    <svg  [attr.fill]="!isDisabled ? activeColor : inactiveColor" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" class="icon icon-tabler icons-tabler-filled icon-tabler-heart">
                        <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                        <path d="M6.979 3.074a6 6 0 0 1 4.988 1.425l.037 .033l.034 -.03a6 6 0 0 1 4.733 -1.44l.246 .036a6 6 0 0 1 3.364 10.008l-.18 .185l-.048 .041l-7.45 7.379a1 1 0 0 1 -1.313 .082l-.094 -.082l-7.493 -7.422a6 6 0 0 1 3.176 -10.215z" />
                      </svg>
                    <p>{{page.likes}}</p>
                </div>
            </div>
            @for (link of links; track link.id) {
                <app-link [ownPage]="false" [link]="link"></app-link>
            }
            <div class="share-link">
                <img [style.color]="page.mainColor" src="assets/svg/share.svg" alt="Share Icon">
                <p (click)="copyProfile()" class="link-text font-semibold" [style.color]="page.mainColor">Share Profile</p>
            </div>

        </div>
    </div>
}

@if (isNotificationVisible) {
    <app-notification [notification]="notification"></app-notification>
}
