<section class="w-full header backdrop-blur-sm">
    <div class="logo-section">
        <img src="assets/svg/link.svg" alt="myLinks logo">
        <h1 class="text-center">MyLinks</h1>
    </div>
    
    <div class="main-section">
        <ul>
            <li><a class="text-black">Home</a></li>
            <li><a class="text-black">My Links</a></li>
        </ul>
    </div>

    <div class="useer-section m-3">
        <img class="rounded-full bg-slate-100 cursor-pointer p-1" src="assets/svg/user.svg" alt="">
    </div>
</section>