<section class="w-full header backdrop-blur-sm">
    <div class="logo-section">
        <img src="assets/svg/link.svg" alt="myLinks logo">
        <h1 class="text-center">MyLinks</h1>
    </div>
    
    <div class="main-section">
        <ul>
            <li><a class="text-black">Home</a></li>
            <li><a class="text-black">My Links</a></li>
        </ul>
    </div>

    <div class="useer-section m-3 relative">
        <img (click)="showMenu()" class="rounded-full bg-slate-100 cursor-pointer p-1" src="assets/svg/user.svg" alt="">
        @if (isMenuOpen) {
          <div id="dropdown" class="dropdown-menu z-10 bg-white divide-y divide-gray-100 rounded-lg shadow w-44">
            <ul class="py-2 text-sm text-gray-200" aria-labelledby="dropdownDefaultButton">
              <li> <!-- solo en pantallas pequeñas -->
                <a routerLink="/" class="block px-4 py-2 hover:bg-gray-100">Home</a>
              </li>
              <li> <!-- solo en pantallas pequeñas -->
                <a routerLink="/admin" class="block px-4 py-2 hover:bg-gray-100">Links</a>
              </li>
              <li>
                <a routerLink="/admin/settings" class="block px-4 py-2 hover:bg-gray-100">Settings</a>
              </li>
              <li>
                <a href="" class="block px-4 py-2 hover:bg-gray-100">Social Media</a>
              </li>
            </ul>
        </div>
        }
    </div>
</section>