<div class="user-container">
    <form action="">
        <h1 class="title">User information</h1>
        <div class="form-input">
            <label for="">Username</label>
            <input type="text" placeholder="Enter your username">
        </div>
        <div class="form-input">
            <label for="">Email</label>
            <input type="text" placeholder="Enter your email">
        </div>
        <button class="w-full my-3">Save</button>

        <hr class="my-2">

        <h1 class="title">Change Password</h1>
        <div class="form-input">
            <label for="">Password</label>
            <input type="password" placeholder="Old password">
        </div>
        <div class="form-input">
            <label for="">New Password</label>
            <input type="text" placeholder="New Password">
        </div>
        <button class="w-full my-3">Change Password</button>

    </form>
</div>
