<!--<mat-dialog-content  class="custom-dialog-container">
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="linkForm.title" placeholder="Enter the link's name" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Description</mat-label>
    <input matInput [(ngModel)]="linkForm.description" placeholder="Write the descripcion" />
  </mat-form-field>

  <mat-form-field>
    <mat-label>Image URL</mat-label>
    <input matInput [(ngModel)]="linkForm.url" placeholder="Enter the image URL" />
  </mat-form-field>

  <mat-form-field class="img-container">
    <mat-label>Image</mat-label>
    <div class="image-section">
      @for (img of images; track img.id) {
        <img (click)="selectImage(img)" [ngClass]="{'img-active': imageIdSelect == img.id}" class="rounded-full w-16 h-16 img cursor-pointer" [src]="img.url" alt="">
      }
    </div>
    
  </mat-form-field>
  

</mat-dialog-content>
<mat-dialog-actions class="custom-dialog-container buttons">
  <button class="ghost text-black p-0" mat-button (click)="onNoClick()">Close</button>
  <button mat-button (click)="onSubmit()">Submit</button>
</mat-dialog-actions>-->


<mat-dialog-content class="custom-dialog-container">
  <form [formGroup]="linkForm">
    <mat-form-field>
      <mat-error *ngIf="linkForm.get('title')!.hasError('required') && linkFormSubmited">
        Name is required.
      </mat-error>
      <mat-label>Name: </mat-label>
      <input matInput formControlName="title" placeholder="Enter the link's name" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description: </mat-label>
      <input matInput formControlName="description" placeholder="Write the description" />
    </mat-form-field>

    <mat-form-field>
      <mat-error *ngIf="linkForm.get('url')!.hasError('required') && linkFormSubmited">
        URL is required.
      </mat-error>
      <mat-error *ngIf="invalidUrl && linkFormSubmited">
        Invalid URL format.
      </mat-error>
      <mat-label>Image URL: </mat-label>
      <input matInput formControlName="url" placeholder="Enter the image URL" />
    </mat-form-field>

    <mat-form-field class="img-container">
      <mat-label>Image</mat-label>
      <div class="image-section">
        @for (img of images; track img.id) {
          <img (click)="selectImage(img)" [ngClass]="{'img-active': imageIdSelect == img.id}" class="rounded-full w-16 h-16 img cursor-pointer" [src]="img.url" alt="">
        }
      </div>
    </mat-form-field>

    <div class="buttons">
      <button class="ghost text-black p-0 cursor-pointer" mat-button (click)="onNoClick()">Close</button>
      <button mat-raised-button (click)="onSubmit()">Submit</button>
    </div>
    
  </form>
</mat-dialog-content>
