<div class="flex flex-row w-full py-9">
  <nav class="flex-shrink-0 px-9">
      <ul class="h-full flex flex-col gap-4">
        <li routerLinkActive="active" class="list-item"><a routerLink="user-settings"><img src="assets/svg/user-round.svg" alt=""><span>User Settings</span></a></li>
        <li routerLinkActive="active" class="list-item"><a routerLink="page-settings"><img src="assets/svg/page.svg" alt=""><span>Page Settings</span></a></li>
      </ul>
  </nav>
  
  <div class="flex-grow flex justify-center">
    <div class="w-full max-w-[1200px]">
        <router-outlet></router-outlet>
    </div>
</div>
</div>



  