.main-page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.text-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 16px;
    line-height: 0.6; /* Ajusta el espaciado entre las líneas, puedes probar con diferentes valores */
    z-index: 2;
}

.main-title{
    font-weight: bold; 
    font-size: 100px;
    color: var(--primary-pink);
    margin: 16px;
}


  
@mixin gradient-text($gradient, $bg : 'light') {
    @supports(mix-blend-mode: lighten) {
      display: inline-block;
      position: relative;
      
    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        
        background: unquote($gradient);
        pointer-events: none;
    }
  
    color: #000;
    background: #fff;
    mix-blend-mode: multiply;
  
    &::before {
        mix-blend-mode: screen;
    }
     
    }
}
  


.main-title {
    font-weight: bold;
    color: #FF69B4; // Color base
}

.main-title2 {
    // @include gradient-text('linear-gradient(to right, #FF69B4, #FF7EB3, #FF90B9, #FFA7C5, #FFC1D5)', 'light');
}

.text-section button {
    background: linear-gradient(to right, #FF69B4, #FF7EB3, #FF90B9, #FFA7C5);
    outline-color: linear-gradient(to right, #FF69B4, #FF7EB3, #FF90B9, #FFA7C5);
    border: none;
    transition: background 0.2s ease-in-out, color 0.2s ease-in-out;
}

.text-section button:hover {
    background: white;
    outline: solid 2px var(--primary-pink);
    border: none;
    color: var(--primary-pink);
}

.sub-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}


.buscador-section {
    display: flex;
    justify-content: center;
    align-items: start;
    padding: 20px;
}

.accounts-section {
    margin-top: 100px;
    width: 800px;
}

.account {
    width: 100%;
    max-width: 800px;
    border: silver solid 2px;
    border-radius: 10px;
    height: 250px;
    position: relative;
    cursor: pointer;
}

.account-content {
    position: absolute;
    padding: 20px;

    h1 {
        font-weight: bold;
        color: #FF69B4; // Color base
        font-size: 40px;
    }

    .description {
        color: #979797be;
    }
}

.form-title {
    font-weight: bold;
    color: #FF69B4; 
    font-size: 40px;
}

.title {
    display: flex;
    justify-content: start;
    align-items: start;
    gap: 16px
}

.likes {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(147, 138, 138, 0.25), 
            0 10px 10px rgba(0,0,0,0.22);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    width: 80px;
    border: none;
    color: #000;
}

.share-section {
    position: absolute;
    background-color: white;
    padding: 10px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    top: 0;
    right: 0;
    margin: 20px;
    transition: transform 0.3s ease-in-out;
}


.share-section:hover {
    cursor: pointer;
    transform: scale(1.02);
   
}

.skeleton {
    background: linear-gradient(90deg, #f8f8f8 25%, var(--primary-pink) 50%, #f8f8f8 75%);
    background-size: 200% 100%;
    animation: loading 1.5s infinite;
    border-radius: 8px;
}

@keyframes loading {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
}

/* LINK FAKE 1 */

.link {
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    transition: scale 0.5s ease-in-out;
    box-shadow: 0 14px 28px rgba(147, 138, 138, 0.25), 
            0 10px 10px rgba(0,0,0,0.22);
    
    padding: 20px;
}
  
.fake-photo {
    width: 40px;
    height: 40px;
    aspect-ratio: 1/1;
    background-color: #e6e6e6;
    border-radius: 100px;
}

.text-fake-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 1px;
    margin: 16px;
}

.fake-title {
    background-color: #e6e6e6;
    width: 120px;
    height: 10px;
    border-radius:10px
}
.fake-subtitle {
    background-color: #e6e6e6;
    width: 90px;
    height: 10px;
    border-radius:10px
}

.link-1 .fake-tool-section {
    display: flex;
    justify-items: space-between;
    align-items: center;
    gap: 16px;
}
  
.fake-tool {
    width: 40px;
    height: 40px;
    aspect-ratio: 1/1;
    background-color: #e6e6e6;
    border-radius: 100px;
}

.link-1 .fake-tool, .link-4 .fake-tool {
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el elemento */
    background-position: center; /* Centra la imagen en el elemento */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: 20px 20px; /* Ajusta el tamaño del fondo */
}

.link-1 .fake-tool:first-child {
    background-image: url('../../../../../assets/svg/share.svg'); /* Ruta de la imagen */
}

.link-1 .fake-tool:nth-child(2) {
    background-image: url('../../../../../assets/svg/pencil.svg'); /* Ruta de la imagen */
}

.link-1 .fake-tool:last-child {
    background-image: url('../../../../../assets/svg/trash.svg'); /* Ruta de la imagen */
}

.link-1 {
    position: fixed;
    rotate: -10deg;
    top: 250px;
    left: -40px;
}

/* LINK FAKE 2 */

.link-2 {
    padding: 10px;
    position: fixed;
    rotate: 10deg;
    top: 350px;
    left: -40px;
}

.fake-card {
    width: 300px;
    height: 150px;
    background-color: #e6e6e6;
    border-radius: inherit;
    display: flex;
    justify-content: end;
}

.link-2 .fake-card .fake-tool {
    background-image: url('../../../../../assets/svg/link.svg'); /* Ruta de la imagen */
    background-color: white;
    margin: 10px;
    background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el elemento */
    background-position: center; /* Centra la imagen en el elemento */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: 20px 20px; /* Ajusta el tamaño del fondo */
}


/* Link fake 3 */
.link-3 {
    width: 200px;
    height: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 16px;
    position: fixed;
    rotate: -10deg;
    top: 450px;
    left: -40px;
}

.link-3 .text-fake-section {
    padding: 0;
    margin: 0;
    
}

.fake-square-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 100%;
    height: 100vh; /* Asegúrate de que el contenedor tenga suficiente altura */
    gap: 6px;
    justify-content: center; /* Centra el grid horizontalmente */
    align-content: center; /* Centra el grid verticalmente */
}

.fake-square {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 10px;
    background-color: #e6e6e6;
}


/* LINK FAKE 4 */
.link-4 {
    position: fixed;
    rotate: 8deg;
    top: 450px;
    right: -80px;
}

.link-4 .fake-tool-section {
    display: flex;
    justify-items: space-between;
    align-items: center;
    gap: 16px;
}

.link-4 .fake-tool:first-child {
    background-image: url('../../../../../assets/svg/share.svg'); /* Ruta de la imagen */
}

.link-4 .fake-tool:nth-child(2) {
    background-image: url('../../../../../assets/svg/pencil.svg'); /* Ruta de la imagen */
}

.link-4 .fake-tool:last-child {
    background-image: url('../../../../../assets/svg/trash.svg'); /* Ruta de la imagen */
}

/* LINK FAKE 5 */
.link-5 {
    width: 200px;
    height: 300px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 16px;
    position: fixed;
    rotate: -10deg;
    top: 250px;
    right: -40px;
    z-index: -1;
}

/* LINK FAKE 6 */
.link-6 {
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    position: fixed;
    rotate: -10deg;
    top: 550px;
    right: -40px;
    z-index: -1;
}

.fake-section {
    margin-top: 10px;
    width: 100%;
    height: 100%;
    background-color: #e6e6e6;
    border-radius: 10px
}

.link-4, .link-5, .link-6 {
    -webkit-animation: fake-links-move-right linear both;
    -webkit-animation-timeline: scroll(root block);
    -webkit-animation-range: 0 70vh;

    -moz-animation: fake-links-move-right linear both;
    -moz-animation-timeline: scroll(root block);
    -moz-animation-range: 0 70vh;

    -o-animation: fake-links-move-right linear both;
    -o-animation-timeline: scroll(root block);
    -o-animation-range: 0 70vh;

    animation: fake-links-move-right linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 70vh;
}

.link-1, .link-2, .link-3 {
    -webkit-animation: fake-links-move-left linear both;
    -webkit-animation-timeline: scroll(root block);
    -webkit-animation-range: 0 70vh;  

    -moz-animation: fake-links-move-left linear both;
    -moz-animation-timeline: scroll(root block);
    -moz-animation-range: 0 70vh;  

    -o-animation: fake-links-move-left linear both;
    -o-animation-timeline: scroll(root block);
    -o-animation-range: 0 70vh;  

    animation: fake-links-move-left linear both;
    animation-timeline: scroll(root block);
    animation-range: 0 70vh;  
}

/*{
    -webkit-animation: mover 2s ease-in-out;  Chrome, Safari 
    -moz-animation: mover 2s ease-in-out;    Firefox 
    -o-animation: mover 2s ease-in-out;      Opera 
    animation: mover 2s ease-in-out;         Estándar 
}*/

@-webkit-keyframes fake-links-move-right {
    to {
        top: 0;
        right: -400px;
    }
}

@-webkit-keyframes fake-links-move-left {
    to {
        top: 0;
        left: -400px;
    }
}

@-moz-keyframes fake-links-move-right {
    to {
        top: 0;
        right: -400px;
    }
}

@-moz-keyframes fake-links-move-left {
    to {
        top: 0;
        left: -400px;
    }
}

@keyframes fake-links-move-right {
    to {
        top: 0;
        right: -400px;
    }
}

@keyframes fake-links-move-left {
    to {
        top: 0;
        left: -400px;
    }
}


/* Para pantallas grandes, como computadoras de escritorio grandes */
@media (max-width: 1600px) {
    .main-title {
        font-size: 90px;
    }
    .text-section {
        line-height: 0.5;
    }
    
    .account-content {
    
        h1 {
            font-size: 40px;
        }
    }

    .form-title {
        font-size: 40px;
    }

    
}

/* Para pantallas de tamaño mediano, como laptops */
@media (max-width: 1200px) {
    .main-title {
        font-size: 80px;
    }
    .account-content {
    
        h1 {
            font-size: 35px;
        }
    }

    .form-title {
        font-size: 35px;
    }
    
}

/* Para tablets en orientación horizontal */
@media (max-width: 992px) {
    .main-title {
        font-size: 70px;
    }
    .account-content {
    
        h1 {
            font-size: 30px;
        }
    }

    .form-title {
        font-size: 30px;
    }

    .share-section {
        display: none;
    }
}

/* Para tablets en orientación vertical y dispositivos móviles grandes */
@media (max-width: 768px) {
    .main-title {
        font-size: 60px;
    }

    .text-section {
        line-height: 0.3;
    }
    .account-content {
    
        h1 {
            font-size: 25px;
        }
    }

    .share-section {
        display: none;
    }

    .form-title {
        font-size: 25px;
    }
}

/* Para dispositivos móviles medianos */
@media (max-width: 576px) {
    .main-title {
        font-size: 50px;
    }

    .link-1 {
        top: 100px;
    }

    .link-2 {
        top: 200px;
    }

    .link-3 {
        top: 300px;
    }

    .link-4 {
       
    }

    .link-5 {
        
    }

    .link-6 {
        
    }

    .description {
        font-size: 14px;
    }
}

/* Para dispositivos móviles pequeños */
@media (max-width: 400px) {
    .main-title {
        font-size: 40px;
    }

    .description {
        font-size: 14px;
    }
}