<div class="page-container">
    <div class="container" id="container">
        
        <div class="form-container sign-up-container">
            <form [formGroup]="loginForm">
                <h1>Sign in</h1>
                <div class="social-container">
                    <img class="social" src="https://svgl.app/library/google.svg" alt="">
                </div>
                <span>or use your account</span>
                <input formControlName="mail" type="email" placeholder="Email" [ngClass]="{'is-valid': loginFormSubmitted && lf['mail'].errors == null,
                'is-invalid': loginFormSubmitted && lf['mail'].errors != null || loginError}" />
                <input formControlName="password" type="password" placeholder="Password" [ngClass]="{'is-valid': loginFormSubmitted && lf['password'].errors == null,
                'is-invalid': loginFormSubmitted && lf['password'].errors != null || loginError}" />
                <a href="#">Forgot your password?</a>
                <button (click)="login()">
                    @if (!loading) {
                        Sign in
                    } @else {
                        <app-loader></app-loader>
                    }
                </button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay-panel">
                <h1>Hello, Friend!</h1>
                <p>Enter your personal details and start journey with us</p>
                <button [routerLink]="'/auth/register'" class="ghost" >Sign Up</button>
            </div>
        </div>
    </div>
    <div class="container-mobile">
        <h1>Hello, Friend!</h1>
        <button [routerLink]="'/auth/register'" class="ghost" >Sign Up</button>
    </div>
</div>

@if (isNotificationVisible) {
    <app-notification [notification]="notification"></app-notification>
  }
